@font-face {
  font-family: 'AvenirNextGeoRegular';
  src: url('../assets/fonts/AvenirNextGeorgian-Regular.otf') format('opentype');
  font-weight: 100 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNextGeoMedium';
  src: url('../assets/fonts/AvenirNextGeorgian-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNextGeoBold';
  src: url('../assets/fonts/AvenirNextGeorgian-Bold.otf') format('opentype');
  font-weight: 600 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SSOldburgMTLight';
  src: url('../assets/fonts/SS Oldburg MT - Light.otf') format('opentype');
  font-weight: 100 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SSOldburgMTBold';
  src: url('../assets/fonts/SS Oldburg MT - Bold.otf') format('opentype');
  font-weight: 500 700;
  font-style: normal;
  font-display: swap;
}
